{% extends 'registration/base.html' %}
{% load static %}

  {% block content %}
    
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Iniciar sesión</p>
  
        <div class="social-auth-links text-center mb-1">
          <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-primary btn-fb-color">
            <i class="fab fa-facebook mr-2"></i> Ingresar con Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger btn-g-color">
            <i class="fab fa-google-plus-g mr-2"></i> Ingresar con Google+
          </a>
          <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-block btn-danger btn-tw-color">
            <i class="fab fa-twitter mr-2"></i> Ingresar con Twitter
          </a>
        </div>
        <!-- /.social-auth-links -->

        <p style="font-size: smaller;" >También puedes crear una cuenta con tu correo:</p>

        <form method="post">
          {% csrf_token %}
          <div class="row">
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
            <dt class="col-sm-3">
              <label for="id_username">Email:</label>
            </dt>
            <dd class="col-sm-9">
              <input id="id_username" type="text" name="username" autofocus="" autocapitalize="None" autocomplete="username"
                maxlength="254" required="" placeholder="alguien@ejemplo.com">
            </dd>

            <dt class="col-sm-3">
              <label for="id_password">Password:</label>
            </dt>
            <dd class="col-sm-9">
              <input id="id_password" type="password" name="password" autocomplete="current-password" required="">
            </dd>
          </div>
            
          <div class="row">
              <button type="submit" class="btn btn-primary btn-block a-login">Ingresar</button>
          </div>
        </form>
  
  
        <p class="mb-1">
          <a href="#" class="a-link-pw">Olvidé mi password</a>
        </p>
        <p class="mb-0">
          <a href="{% url 'signup' %}" class="text-center a-link-pw">Mantente informado. Regístrate</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>

    {% endblock content %}
    
  {% block scripts %}
    
  {% endblock scripts %}
    
</body>  