{% extends 'news/base.html' %}
{% load static %}

<body>
    
{% block content %}
    <h2>Cambiar contraseña</h2>
        {% if not user.has_usable_password %}
            <p style="color: red;">You have not defined a password yet.</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="input-group mb-3">
                {% for field in form %}
                    <dt class="col-sm-3">
                        {{ field.label_tag }}
                    </dt>
                    <dd class="col-sm-9">
                        {{ field }}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    </dd>
                {% endfor %}
                {% for field in form %}
                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="card-body">
                <button type="submit"  class="btn btn-primary">Guardar</button>
            </div>
        </form>
{% endblock content %}

</body>